/target
/node_modules
/accounts
.breakpoints
.replit
replit.nix
servers.json
public.pem
private.pem
/servers/*
.env
/backup/*
/stores/*
/assets/jars
/assets/java
/assets/data.json
/assets/scraper.json
/assets/uploads
/backups
config.json
accounts.tsv
servers.tsv
/forgelibs
assets/deletions-log.txt
config.txt
!/assets/template/config.txt
bun.lockb
assets/terminal-log.txt
crashLog.txt
